* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F0F0F0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  transition: all ease-in-out 300ms;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 920px) {

  body {
    font-size: 0.9rem;
  }

}

@media screen and (max-width: 810px) {

  body {
    font-size: 0.8rem;
  }

}