.cover-letter {
    color: #000;
    box-sizing: border-box;
    font-size: 0.7rem;
    white-space: normal;
    overflow-wrap: break-word;
    text-align: justify;
    z-index: 10;
    line-height: 1.2;
    page-break-after: always;
}

.cover-letter .name,
.cover-letter .job-title {
    text-align: center;
    font-size: 1.3rem;
}

.cover-letter .job-title {
    font-size: 1.1rem;
}

.cover-letter .link-container {
    margin: 5px 0;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px 10px;
    flex-wrap: wrap;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.cover-letter .cl-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.cover-letter .cl-body ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
}

.cover-letter .cl-body ol {
    list-style-type: decimal;
    padding-left: 20px;
    margin: 0;
}

.cover-letter .cl-body li {
    margin-bottom: 4px;
}

.cover-letter .cl-body .watermark-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 120px;
}

.cover-letter .cl-body .watermark-text-container {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #696969;
}

.cover-letter .cl-body .watermark-text-container a {
    color: #696969;
}